.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #27B1B6;
}

.active {
  display: none;
}

.inactive {
  color: #27B1B6;
}